Source: xdma
Section: kernel
Maintainer: Martin Stolpe <martin.stolpe@iaf.fraunhofer.de>
Build-Depends: debhelper (>= 10), dkms
Standards-Version: 3.8.1

Package: xdma-dkms
Architecture: all
Depends: ${misc:Depends}
Description: DKMS source for the Xilinx xdma driver
